body {
  margin: 0;
  /* font-family: 'IBM Plex Mono', monospace; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
  /* font-family: 'IBM Plex Sans Condensed', sans-serif; */
  font-family: 'IBM Plex Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* portfolio */
.container {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}
.portfolioCard {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.portfolioCard h3 {
  color:#bebcc4;
  padding-top: 2px;
  padding-left: 10px;
}
.portfolioCard:not(:first-child) {
  margin-left: -30px;
}

.portfolioCard:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
cursor: pointer;
}

.portfolioCard:hover ~ .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}


/* about/contact */
.cardHead {
  font-weight: 400;
}